/*Container Login Position*/
.container-login{
position: fixed;
  opacity: 0;
  pointer-events: none;
  right: 5%;
  top: 60px;
  height: 280px;
}
/*Login Window*/
.active {  
  opacity: 1;
  pointer-events: auto;  
}

/*Display none links in nav*/
.in-active{
    display: none;
}

/*Button login*/
.login button {
  width: 150px;
  color: black;
  background-color: white;
  justify-content: center;
  margin: 2px 0px 2px 0px;
  height: 30px;
  border-radius: 50px;
}
/*Position Button Login */
.button-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*Button close*/
#hidePopUp {
  cursor: pointer;
  width: 15px;
  border: none;
}
/*Position Button Close*/
.button-close {
  display: flex;
  justify-content: end;
}

/*Login Input*/
.login input {
  background-color: white;
  margin: 2px 0px 2px 0px;
  border-left: none;
  border-top: none;
  border-right: none;
  text-decoration: none;
  width: 200px;
}

/*Login Container Background*/
.login {
  width: 250px;
  background-color: white;
  padding: 20px;
}
/*Position "Email"*/
.login .h4-email {
  text-align: center;
}
/*Position "Password"*/
.login .h4-password {
  text-align: center;
  margin-top: 10px;
}
