/*Container Login Position*/
.container-login {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  right: 5%;
  top: 80px;
  height: auto;
}

/*Container password padding*/
.login .password-container {
  padding-top: 15%;
}

/*Container button padding*/
.login .button-container {
  padding-top: 0%;
}

/*Login Container Background and size*/
.login {
  width: 250px;
  height: auto;
  padding: 20px;
  border-radius: 40px;
  background: white;
}

/*Login Window*/
.active {
  opacity: 0.8;
  pointer-events: auto;
}

/*Display none links in nav*/
.in-active {
  display: none;
}

/*Button login*/
.login button {
  width: 120px;
  height: 30px;
  color: black;
  justify-content: center;
  margin: 2px 0px 2px 0px;
  background: white;
  border-radius: 20px;
}
/*Position Button Login */
.button-login {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  text-align: center;
}

/*Button close*/
#hidePopUp {
  cursor: pointer;
  width: 15px;
  border: none;
}

/*Position Button Close*/
.button-close {
  display: flex;
  justify-content: end;
}

/*Login Input*/
.login input {
  border: none;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255, 0.5);
  text-decoration: none;
  width: 200px;
  height: 20px;
}

/* Outline Input field none*/
.login input:focus {
  outline: none;
}

/*Position "Email"*/
.login .h4-userName {
  text-align: center;
  padding-bottom: 5%;
}

/*Position "Password"*/
.login .h4-password {
  text-align: center;
  padding-bottom: 5%;
}

/*Position Login */
.logoLogin{
  display: flex;
  padding-top: 15%;
  justify-content: center;
}
