
.navbar button{
    border: none;
    background-color: white;
}

.container-login{    
    opacity: 0;
    pointer-events: none;
}

.active{
    position: fixed;
    opacity: 1;
    pointer-events: auto;  
    right: 5%;  
    top: 60px;
    height: 280px;
}

.activeEditorBtn{
    opacity: 1;
    pointer-events: auto;
}

.activeLogoutBtn{
    opacity: 1;
    pointer-events: auto;
}


.login{        
    width: 250px;
    background-color: white;
    padding: 20px; 
}

.login .h4-email{
    text-align: center;
}

.login input{
    background-color: white;
    margin: 2px 0px 2px 0px;
    border-left: none;
    border-top: none;
    border-right: none;
    text-decoration: none;
    width: 200px;
}

.login input:focus{
    outline: none;
    box-shadow: none;
}

.login .h4-password{
    text-align: center;
    margin-top: 10px;
}

.login button{ 
    width: 150px;
    color: black;
    background-color:white;
    border-radius: 10px;
    justify-content: center;
    margin: 2px 0px 2px 0px;    
}
.button-login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-signUp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.password{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.email{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login .forgot-password{
    text-align: center;
    margin-top: 20px;
}

.login .signUp{    
    text-align: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.button-close{
    display: flex;
    justify-content: end;
}
    
#hidePopUp{    
    cursor: pointer;
    width: 15px;
    border:none;
}

button{
    cursor: pointer;
}

.in-active{
    display: none;
    pointer-events: auto;
}